/* main.css - primary CSS for cade.site
 *
 * @author: Cade Brown <me@cade.site>
 */

:root {
    /* which font-family selection should be used (other themes typically don't need this) */
    /* NOTE: I use monospace, but if you don't like monosapce by default, uncomment this line */
    /*--font: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    --font: Consolas, monospace;
    --font-code: monospace;
}

/*** THEME VARIABLES ***/

/* none: basically no theme over plain HTML */
html[data-theme='none'] {
    /* what color should clickable links be? */
    --col-link: #366fca;
}

/* 'whiteboard' theme, i.e. default light theme */
html[data-theme='whiteboard'] {

    /* all site background */
    --col-back0: #b4b4b4;
    /* content background */
    --col-back1: #ffffff;
    /* general border, for figures/images */
    --col-border: #88888888;
    /* drop shadow color */
    --col-shadow: #161616bb;

    /* general text content */
    --col-text: #111111;
    /* inverted text content */
    --col-text-inv: #eeeeee;
    /* content which is a link */
    --col-link: #366fca;

}

/* 'chalkboard' theme, i.e. default dark theme */
html[data-theme='chalkboard'] {

    /* all site background */
    --col-back0: #0e0e0e;
    /* content background */
    --col-back1: #2a2a2a;
    /* general border, for figures/images */
    --col-border: #88888888;
    /* drop shadow color */
    --col-shadow: #161616bb;

    /* general text content */
    --col-text: #eeeeee;
    /* inverted text content */
    --col-text-inv: #111111;
    /* content which is a link */
    --col-link: #509ddb;

}

/* 1337: my personal theme, like matrix/terminal style */
html[data-theme='1337'] {
    /* background image */
    --img-back: url('/files/backtile-grid1.webp');

    /* all site background */
    --col-back0: #0e0e0e;
    /* content background */
    --col-back1: #2a2a2a;
    /* general border, for figures/images */
    --col-border: #88888888;
    /* drop shadow color */
    --col-shadow: #161616bb;

    /* general text content */
    --col-text: #16c516;
    /* inverted text content */
    --col-text-inv: #c5168b;
    /* content which is a link */
    --col-link: #1f8cd4;

}

.themebutton-none {
    background-image: linear-gradient(-45deg, #ffffff 40%, #ffffff 60%);
}

.themebutton-whiteboard {
    background-image: linear-gradient(-45deg, #b4b4b4 40%, #ffffff 60%);
}

.themebutton-chalkboard {
    background-image: linear-gradient(-45deg, #0e0e0e 40%, #2a2a2a 60%);
}

.themebutton-1337 {
    background-image: linear-gradient(-45deg, #0e0e0e 40%, #16c516 60%);
}


/*** HTML STANDARD ELEMENTS ***/

html, body {
    margin: 0;
    padding: 0;
}

html {

    background-attachment: fixed;
    background-position: -0.5em;
    background-repeat: repeat;
    background-image: var(--img-back);
}

body {
    line-height: 1.32rem;
    font-size: 18px;
    tab-size: 4;

    background-color: var(--col-back0);

    font-family: var(--font);
    color: var(--col-text);

    /*scrollbar-width: none;*/
}

h1 {
    margin-top: 1.1em;
    line-height: 2.35rem;
}

h2 {
    margin-top: 0.7em;
    line-height: 1.9rem;
}

h3 {
    line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--col-text);
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--col-text);
    text-decoration: none;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    color: var(--col-text);
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: var(--col-text);
}

/* prefixes for header sections */
h2::before {
    content: '# ';
}

h3::before {
    content: '## ';
}

h4::before {
    content: '### ';
}

h5::before {
    content: '#### ';
}


/* class for auto-generated links for headers */
.header-link {
    margin: auto;
    margin-left: 6px;
    opacity: 0;

    font-size: 28px;

    transition: opacity 0.1s ease-in-out 0.1s;
    -webkit-transition: opacity 0.1s ease-in-out 0.1s;
    -moz-transition: opacity 0.1s ease-in-out 0.1s;
    -ms-transition: opacity 0.1s ease-in-out 0.1s;
}

/* show the icon on the header link */
h2:hover .header-link, 
h3:hover .header-link, 
h4:hover .header-link, 
h5:hover .header-link, 
h6:hover .header-link {
    opacity: 1;
}

a:link {
    color: var(--col-link);
}

a:visited {
    color: var(--col-link);
}

li {
    padding-bottom: 6px;
}

p > code {
    padding-left: 0.8px;
    padding-right: 0.8px;
    margin-left: 0.5px;
    margin-right: 0.5px;

    border: 1px solid gray;

    background-color: var(--col-back0);
}

blockquote {
    background: var(--col-back1);
    border-left: 10px solid var(--col-border);
    font-size: 1.2em;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    /*color: #ccc;*/
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    margin-block-start: 0.5em;
}

video {
    margin: auto;
    
    /* limit the size... i've been tweaking these values TODO */
    max-width: 80%;
    max-height: 65vh;

    display: block;
    border: solid 1px var(--col-border-fig);
}

img {
    margin: auto;
    
    /* limit the size... i've been tweaking these values TODO */
    max-width: 88%;
    max-height: 60vh;

    display: block;
    border: solid 1px var(--col-border-fig);
}

/* TODO: define these sizes */

.clear {
    clear: both;
}


/* for the about page */
.img-ZZZ {
    max-width: 80%;
    max-height: 44vh;
}


.img-S {
    max-width: 68%;
    max-height: 36vh;
}

.img-M {
    max-width: 75%;
    max-height: 47vh;
}

.img-L {
    max-width: 94%;
    max-height: 76vh;
}

.img-left {
    float: left;
    margin: 0.5em;
    margin-right: 1.6em;
}
.img-right {
    float: right;
    margin: 0.5em;
    margin-left: 1.6em;
}

/* image within a description list (i.e. dd/dl) */
dd img {
    /* limit the size... i've been tweaking these values */
    /*
    max-width: 60%;
    max-height: 24em;
    */
}

/* inline image*/
.img-inline {
    display: inline-block;
    /* limit the size... i've been tweaking these values */
    max-width: 40%;
    max-height: 26em;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 0.2em;
}

hr {
    margin: 1.2em 0.01em 0.9em 0.01em;
}

/* have iframes fill up centered blocks */
center > iframe {
    max-width: 100%;
}

/** header/footer/misc **/
footer {

    font-size: 22px;
    font-weight: 600;

    /*border-top: 2px solid var(--col-border);*/

    /*background-color: var(--col-back1);*/
    background-color: var(--col-back);
    box-shadow: 0 80vh 0 80vh #000;
    color: var(--col-text-inv) !important;

}

/* wrapper for footer links */
.footer-wrapper {

    display: flex;
    margin-top: 0.8em;
    margin-bottom: 2.0em;

    justify-content: center;
    align-items: center;
    
}

/* wrapper for the wrapper */
.footer-wrapper-wrapper {
    margin: 0 6.7vw;
}

.footer-div {
    width: 100%;
    margin: 0.6em 0;

    align-items: center;
    text-align: center;
}

footer a {
    text-decoration: none;
}


/*** CUSTOM CLASSES ***/

/* any clickable item */
.clickable {
    cursor: pointer;
}

/* the 'main' central area that holds content */
.main {
    flex: 1;

    padding: 0em 1.5em;

    background-color: var(--col-back1);
    border: 1px solid var(--col-border);
    box-shadow: 0px 0px 0px var(--col-shadow);
}


/* used for post descriptions */
.post-section {
    overflow: hidden;
}

/* parent of post thumbnail, for CSS align */
.post-thumb-par {
    float: left;
    padding: 0.3em;
    margin: 0.2em;
    /* limit the size to something reasonable */
    width: 21em;
    max-height: 18.5em;
}

/* image for post thumbnail */
.post-thumb {
    max-width: 100%;
    max-height: 100%;
    width: 640;
    height: 400;
}

/* button used to switch themes */
.themebutton {
    width: 24px;
    height: 24px;

    border-color: var(--col-border);
    vertical-align: middle;
}

/*** EXTERNAL/THIRD PARTY ***/

/** FontAwesome (fa-) **/

/* any link should be colored as such */
.fa-link {
    color: var(--col-link);
}

/** KaTeX (katex-) **/

/* all math/inline should be shown completely */
.katex-display {
    width: 100%;
    overflow-x: auto;
    padding: 0.5em;
}


/*** MEDIA QUERIES ***/
.wrapper {

    display: flex;
    flex-direction: column;
}

/* media query for very wide displays (i.e. most desktops) */
@media screen and (min-aspect-ratio: 4/3) {

    /* on wide displays, add some space */
    .wrapper {
        margin-left: 10.5vw;
        margin-right: 10.5vw;
    }

}

/* for narrow displays, so links stack instead of side by side */
@media (max-width: 1000px) {

    .post-thumb-par {
        max-width: 98%;
        margin: 0 auto;
        padding: 0em;

        float: none;
    }

    .footer-wrapper {
        flex-direction: column;
    }


    .img-left {
        float: none;
        margin: auto;
        width: 100%;
    }
    .img-right {
        float: none;
        margin: auto;
        width: 100%;
    }
    

}

