/* main.css - primary CSS for cade.site
 *
 * 
 * some useful links: 
 *   * https://coolors.co/
 *
 * @author:    Cade Brown <cade@kscript.org>
 */


/* defaults for all themes */
:root {

    /* Which font-family selection should be used (other themes typically don't need this) */
    /*--font: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    --font: monospace;

}

 /* '1337': my personal theme
  *
  * for changing themes, see 'js/main.js' and '_includes/footer.html'
  */
html[data-theme='1337'] {
    --img-back: url('/files/backtile-grid1.webp');

    --col-back0: #2a2a2a;
    --col-back1: #0e0e0e;

    --col-borderA: #ffc0cb88;
    --col-borderB: #94bfa788;

    --col-textA: pink;
    --col-textB: #16c516;

    --col-shadow: #161616;
    --col-link: #1f8cd4;

    /* 1337 uses mono! (this causes a layout shift sometimes when switching, but since the
     *   switcher is at the top, no problem!
     */
    --font: Consolas,monospace;
}

/* have themes for the buttons at the bottom bar */
.themebutton-1337 {
    background-image: linear-gradient(-45deg, #0e0e0e 40%, #16c516 60%);
}


/* 'chalkboard' theme */
html[data-theme='chalkboard'] {
    /* (optional): what image should the background be? */
    /*--img-back: url('/files/backtile-grid1.webp') repeat;*/

    /* what color should be the background for the whole site? */
    --col-back0: #0e0e0e;

    /* what color should be the background for text? */
    --col-back1: #2a2a2a;

    /* what color should borders around images/figures be (borderA should blend in with the theme) */
    --col-borderA: #11111188;
    /* what color should borders around images/figures be (borderB should stand out against the theme) */
    --col-borderB: #eeeeee88;


    /* what color should text that matches the theme be? (for example, a black theme should have textA as black) */
    --col-textA: #111111;
    /* what color should text that DOESN'T match the theme be? (this should stand out against the theme, used for most content) */
    --col-textB: #eeeeee;

    /* what color should shadows/highlights be? */
    --col-shadow: #161616;
    /* what color should clickable links be? */
    --col-link: #82c7ff;

}


.themebutton-chalkboard {
    background-image: linear-gradient(-45deg, #0e0e0e 40%, #2a2a2a 60%);
}


/* 'whiteboard' theme */
html[data-theme='whiteboard'] {
    --col-back0: #b4b4b4;
    --col-back1: #ffffff;

    --col-borderA: #eeeeee88;
    --col-borderB: #11111188;

    --col-textA: #eeeeee;
    --col-textB: #111111;

    --col-shadow: #161616;
    --col-link: #366fca;
}

.themebutton-whiteboard {
    background-image: linear-gradient(-45deg, #b4b4b4 40%, #ffffff 60%);
}


/* 'salmon' theme (kinda crazy LOL) */
html[data-theme='salmon'] {
    --img-back: url('/files/backtile-salmon0.webp');

    --col-back0: #cf71a5;
    --col-back1: #e0b7b7;

    --col-borderA: pink;
    --col-borderB: #94bfa7;

    --col-textA: #eeeeee;
    --col-textB: #111111;

    --col-shadow: #161616;
    --col-link: #2c69cc;
}

.themebutton-salmon {
    background-image: linear-gradient(-45deg, #cf71a5 40%, #e0b7b7 60%);
}



/* 'none' theme, i.e. basically no special formatting */
html[data-theme='none'] {

    /* what color should clickable links be? */
    --col-link: #366fca;
}


.themebutton-none {
    background-image: linear-gradient(-45deg, #ffffff 40%, #ffffff 60%);
}


/*** HTML STD ***/



body {
    margin: 1em 12vw;
    line-height: 1.32rem;

    scrollbar-width: none;  

    /* background settings */
    background-color: var(--col-back0); 
    background-image: var(--img-back);
    background-repeat: repeat;
    background-position: -0.5em;
    background-attachment: fixed;

    /* text settings */
    /* font-family: monospace; */
    font-family: var(--font);
    color: var(--col-textB);
    font-size: 18px;
    tab-size: 4;

}



h1 {
    line-height: 2.35rem;
}

h2 {
    line-height: 1.9rem;
}
h3 {
    line-height: 1.7rem;
}


a:link {
    color: var(--col-link);
}

a:visited {
    color: var(--col-link);
}

h1 a:link {
    color: var(--col-text);
}

h1 a:visited {
    color: var(--col-text);
}

h2 a:link {
    color: var(--col-text);
}

h2 a:visited {
    color: var(--col-text);
}

h3 a:link {
    color: var(--col-text);
}

h3 a:visited {
    color: var(--col-text);
}

/* used for horizontal break in page */
hr {
    margin: 1.2em 0.01em 0.9em 0.01em;
}

img {
    display: block;
    border: solid 1px var(--col-borderB);
    margin: auto;

    /* limit the size... I've been tweaking these values */
    max-width: 90%;
    max-height: 28em;
}


/* images within dl/dd text */
dd img {
    /* limit the size... I've been tweaking these values */
    max-width: 60%;
    max-height: 24em;
}


/* inline small image */
.inline-img {
    display: inline-block;

    /* limit the size... I've been tweaking these values */
    max-width: 40%;
    max-height: 26em;
}


/* TODO: table? */

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 0.2em;
}



/* for any clickable elemtn, set it to a pointer */
.clickable {
    cursor: pointer;
}


/*** POSTS ***/

.post-section {
    overflow: hidden;
}

/* thumbnail container */
.post-thumb-container {
    float: left;

    padding: 0.3em;
    margin: 0.2em;

    /* limit the size to something reasonable */
    width: 21em;
    max-height: 18.5em;
}

.post-thumb {
    max-width: 100%;
    max-height: 100%;

    width: 640;
    height: 400;
}

.main {
    background-color: var(--col-back1);
    padding: 1em;

    border-radius: 14px;
    border: 1px solid var(--col-borderB);
    box-shadow: 0px 0px 0px var(--col-shadow);
}


/* All theme buttons */
.themebutton {
    width: 24px;
    height: 24px;
    border-color: var(--col-borderB);
    vertical-align: middle;
}

/** FontAwesome logos **/


/* all FontAwesome */
.fa {
    margin-left: 0.24em;
    margin-right: 0.1em;
}

/* Custom container class */
.fa-container {
    text-align: center; 
    font-family: monospace;
    color: var(--col-text);
    text-decoration: none;
    margin-right: 0.48em;

}


/** Code Highlighting **/

/* katex math */
.katex-display {
    overflow-x: auto;
    width: 100%;
    padding: 0.5em;
}

/* inline code */
p > code {
    background-color: var(--col-back0);
    border: 1px solid gray;
    padding-left: 0.8px;
    padding-right: 0.8px;
    margin-left: 0.5px;
    margin-right: 0.5px;
}



/** Mobile/Web **/

@media screen and (max-width: 1100px) {

    body {
        margin: 0.6em;
    }

    .post-thumb-container {
        max-width: 98%;
        float: none;
        margin: 0 auto;
        padding: 0em;
    }
}
