<header>
    <h1><a href='{{ site.url }}'>{{ site.displayurl }}</a> 
    {% if page.title %}
        &mdash; {{ page.title }}
    {% else %}
    
    {% endif %}
    </h1>

</header>

<a href='/'> Blog</a>
| <a href='/about'>About</a> 
| <a href='/timeline'> Timeline</a> 
| <!--<a href='/style'>Style</a>-->
| <a href='/archive'> Archive</a> 

<!-- theme selection -->
<p style='font-family: "monospace";'><small><i>
    theme:
    <!--
        <button type="button" aria-label="set theme to 'none'" class="themebutton themebutton-none" onclick="theme_set('none')"></button>
    -->
    <!-- to add your theme, copy one of these buttons and replace all the name mentions in the properties with your new theme name -->
    <button type="button" aria-label="set theme to 'chalkboard'" class="themebutton themebutton-chalkboard" onclick="theme_set('chalkboard')"></button>
    <button type="button" aria-label="set theme to 'whiteboard'" class="themebutton themebutton-whiteboard" onclick="theme_set('whiteboard')"></button>
    <button type="button" aria-label="set theme to '1337'" class="themebutton themebutton-1337" onclick="theme_set('1337')"></button>
</i></small></p>
